//fonts and colors
$primary-color: #f6faff; //light
$secondary-color: #2f3031; //dark
$accent-color: #05fab8; //green
$background-opacity: 0.8;

$primary-font: 'Poppins', sans-serif;


@mixin mediaMd {
    @media screen and (min-width: 501px) and (max-width: 968px) {
        @content;
    }
}


@mixin mediaSmall {
    @media screen and (max-width: 500px) {
        @content;
    }
}