.services {
    position: relative;
    background-color: #f8fafa;

    .container:after {
        content: "";
        position: absolute;
        top: 0;
        height: 160px;
        right: 0;
        border-right: 4px solid $accent-color;
    }

    .container:before {
        content: "";
        position: absolute;
        bottom: 0;
        height: 160px;
        left: 0;
        border-left: 4px solid $accent-color;
    }
}


.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 160px;


    .serv {
        max-width: 336px;
        margin-right: 10px;



        h2 {
            font-size: 36px;
            font-weight: 700;
            line-height: 26px;
        }

        p {
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;


            a {
                font-weight: 700;
            }
        }

        .btn {
            margin-top: 60px;
        }
    }
}